@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  position: relative;
}

.language-ts:after {
  content: 'typescript';
  @apply absolute top-2 right-2 rounded-md bg-gray-100 px-2 py-1 font-sans text-xs font-light tracking-wider text-gray-500;
}

body {
  @apply bg-gray-50;
}

.link {
  @apply border-b-4 border-gray-700 transition-colors duration-100 hover:bg-gray-700 hover:text-white;
}

/** Header */

.header-link {
  @apply rounded-full border-2 border-gray-100 bg-gray-50 transition-all;
}
.header-link-active {
  @apply border-2 border-gray-200 text-gray-900;
}
.header-link:hover {
  @apply border-gray-200;
}

.markdown {
  ol {
    @apply mb-6 text-xl;
    list-style-type: lower-greek;

    li {
      @apply ml-5 mb-2 pl-2 tracking-normal;
    }
  }

  ul {
    @apply mb-6 text-xl;
    list-style-type: circle;

    li {
      @apply ml-5 mb-2 pl-2 tracking-normal;
    }
  }
}
